rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow authenticated users to read and write to their own directories
    match /workouts/{userId}/{workoutId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow reading of publicly accessible content
    match /public/{allPaths=**} {
      allow read;
    }
    
    // Default deny
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
} 